<div class="general-container container-fluid mb-5">
    <div class="d-flex gap-4 flex-column-reverse flex-xl-row align-items-center px-3">
        <div class="col-lg-6 text-center text-lg-left p-xl-5">
            <h1 class="display-3 font-weight-bold text-white">Aprende a ahorrar agua con nosotros!</h1>
            <p class="text-white mb-4">H20 Heroes es una Web App para que los mas pequeños de la familia aprendan a ahorrar agua y ser responsables con el medio ambiente,
                ayudándoles con un sistema gamificación y de recompensas a largo y corto plazo para que se les haga más entretenido.</p>
            <div class="d-flex gap-2 flex-column flex-xxl-row">
                <a routerLink="/sign-up" class="header-button1 btn mt-1 py-3 px-5"><h4 class="mb-0">Empezamos!</h4></a>
                <a routerLink="/login" class="header-button2 btn mt-1 py-3 px-5"><h4 class="mb-0">Inicia sesión</h4></a>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <img class="img-fluid mt-5" src="../../assets/h2o-heroes.png" alt="header-image">
        </div>
    </div>
</div>