<div id="container-bg">

    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>

      <!--   <div class="wave" [style.height.px]="altura1" *ngIf="altura1">
            <img class="image-overlay1" src="../../assets/img/pato1.svg" alt="Pato triste" />
        </div>
        <div class="wave" [style.height.px]="altura2" *ngIf="altura2">
            <img class="image-overlay2" src="../../assets/img/pato2.svg" alt="Pato contento" />
        </div>
        <div class="wave" [style.height.px]="altura3" *ngIf="altura3">
            <img class="image-overlay3" src="../../assets/img/pato3.svg" alt="Pato feliz" />
        </div> -->

    </div>

    
</div>


<!-- <p>Altura 1: {{ altura1 }} px</p>
<p>Altura 2: {{ altura2 }} px</p>
<p>Altura 3: {{ altura3 }} px</p> -->
