<button class="button btn btn-primary"><a routerLink="/home">VOLVER ATRÁS</a></button> 

<div class="general-container">
    <div class="px-5 container-fluid pt-5 mb-5">
        <div class="text-center mb-5"><h1 class="title">TEST</h1></div>
        <div class="mt-5">
            <form [formGroup]="testForm" (ngSubmit)="submit()">
                <div *ngFor="let data of Data; let i=index">
                    <div class="bg-light rounded-pill border border-3 border-warning d-flex align-items-center gap-3 px-4 mb-4 p-3">
                        <img src="../../assets/gota2.png" alt="fuego" style="max-height: 70px;">
                        <h4><label class="d-flex gap-3">
                                <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)"  />
                                {{data.name}}        
                        </label></h4>
                    </div>
                </div>
                <div class="mt-5 d-flex justify-content-center"><button type="submit" class="btn btn-primary">Confirmar</button></div>
            </form>
            <div *ngIf="message != ''" class="alert alert-warning message">
                <span>{{message}}</span>
            </div>
        </div>
    </div>
</div>
