<button class="button btn btn-primary"><a routerLink="/home">VOLVER ATRÁS</a></button> 

<div class="general-container">
    <div class="px-5 container-fluid pt-5 mb-5">
        <div class="text-center mb-5"><h1 class="title">LOGROS</h1></div>
        <div class="mt-5">
            <div class="bg-light rounded-pill border border-3 border-warning d-flex align-items-center gap-3 px-4 mb-2 p-3">
                <img src="../../assets/img/gold.svg" alt="gold-medall" style="height: 50px;">
                <h4>Llevas una racha de 3 Medallas de Oro! Así se hace!</h4>
            </div>
            <div class="bg-light rounded-pill border border-3 border-danger d-flex align-items-center gap-3 px-4 mb-2 p-3">
                <img src="../../assets/fuego.png" alt="fuego" style="max-height: 50px;">
                <h4>Llevas 10 días haciendo tests! Sigue así!</h4>
            </div>
            <div class="bg-light rounded-pill border border-3 border-danger d-flex align-items-center gap-3 px-4 mb-2 p-3">
                <img src="../../assets/fuego.png" alt="fuego" style="max-height: 50px;">
                <h4>Llevas 3 días haciendo tests! Sigue así!</h4>
            </div>
        </div>
    </div>
</div>
