<div class="container">
    
    //landing-page header
    <div class="container-fluid bg-primary px-0 px-md-5 mb-5">
        <div class="row align-items-center px-3">
            <div class="col-lg-6 text-center text-lg-left">
                <h4 class="text-white mb-4 mt-5 mt-lg-0">H20 Heroes</h4>
                <h1 class="display-3 font-weight-bold text-white">Aprende a ahorrar agua con nosotros!</h1>
                <p class="text-white mb-4">H20 Heroes es una Web App para que los mas pequeños de la familia aprendan a ahorrar agua y ser responsables con el medio ambiente,
                    ayudándoles con un sistema gamificación y de recompensas a largo y corto plazo para que se les haga más entretenido.</p>
                <a href="" class="btn btn-secondary mt-1 py-3 px-5">Empezamos!</a>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <img class="img-fluid mt-5" src="" alt="header-image">
            </div>
        </div>
    </div>

    //landing-page offered services
    <div class="container-fluid pt-5">
        <div class="container pb-3">
            <div class="row">
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <i class="flaticon-050-fence h1 font-weight-normal text-primary mb-3"></i>
                        <div class="pl-4">
                            <h4>Gamificación adaptada a niños</h4>
                            <p class="m-0">Ofrecemos un sistema de aprendizage gamificado para facilitar las tareas responsables con las reservas de agua del planeta Tierra.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <i class="flaticon-022-drum h1 font-weight-normal text-primary mb-3"></i>
                        <div class="pl-4">
                            <h4>Sistemas de medallas</h4>
                            <p class="m-0">Recompensas semanales con medallas dependiendo del consumo consciente del usuario.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <i class="flaticon-030-crayons h1 font-weight-normal text-primary mb-3"></i>
                        <div class="pl-4">
                            <h4>Recompensa en logros</h4>
                            <p class="m-0">Logros a largo plazo para manter la atención y motivación del usuario.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <i class="flaticon-017-toy-car h1 font-weight-normal text-primary mb-3"></i>
                        <div class="pl-4">
                            <h4>Seguimiento semanal</h4>
                            <p class="m-0">Test diarios para ver el progreso del aprendiz.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <i class="flaticon-025-sandwich h1 font-weight-normal text-primary mb-3"></i>
                        <div class="pl-4">
                            <h4>Consejos para la mejora</h4>
                            <p class="m-0">Tips para seguir aprendiendo y mejorando con nosotros.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <i class="flaticon-047-backpack h1 font-weight-normal text-primary mb-3"></i>
                        <div class="pl-4">
                            <h4>Explicación de la emergència climatica para todos los públicos</h4>
                            <p class="m-0">Explicación simplificada de la situación climática para la concienciación de los más jovenes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
