<div class="container">
    
    <div class="general-container container-fluid mb-5">
        <div class="d-flex gap-4 flex-column-reverse flex-xl-row align-items-center px-3">
            <div class="col-lg-6 text-center text-lg-left p-xl-5">
                <h1 class="display-3 font-weight-bold text-white">Aprende a ahorrar agua con nosotros!</h1>
                <p class="text-white mb-4">H20 Heroes es una Web App para que los mas pequeños de la familia aprendan a ahorrar agua y ser responsables con el medio ambiente,
                    ayudándoles con un sistema gamificación y de recompensas a largo y corto plazo para que se les haga más entretenido.</p>
                <div class="d-flex gap-2 flex-column flex-xxl-row">
                    <a routerLink="/sign-up" class="header-button1 btn mt-1 py-3 px-5"><h4 class="mb-0">Empezamos!</h4></a>
                    <a routerLink="/login" class="header-button2 btn mt-1 py-3 px-5"><h4 class="mb-0">Inicia sesión</h4></a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <img class="img-fluid mt-5" src="../../assets/h2o-heroes.png" alt="header-image">
            </div>
        </div>
    </div>

    <div class="px-5 container-fluid pt-5 mb-5">
        <div class="text-center mb-5"><h1 class="title">SERVICIOS</h1></div>
        <div class="container pb-3">
            <div class="row">
                <div class="col-lg-6 col-xxl-4 pb-1 ">
                    <div class="text-container d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <div class="mb-3 me-3">
                            <img src="../../assets/console.png" alt="console">
                        </div>
                        <div class="pl-4 pt-3">
                            <h4>Gamificación adaptada a niños</h4>
                            <p class="m-0">Aprendizage gamificado para facilitar las tareas responsables con el Planeta Tierra.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 pb-1">
                    <a href="#info" class="text-container d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <div class="mb-3 me-3">
                            <img src="../../assets/badge.png" alt="badge">
                        </div>
                        <div class="pl-4 pt-3">
                            <h4>Sistemas de medallas</h4>
                            <p class="m-0">Recompensas semanales con medallas dependiendo del consumo consciente del usuario.</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-xxl-4 pb-1">
                    <div class="text-container d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <div class="mb-3 me-3">
                            <img src="../../assets/success.png" alt="success">
                        </div>
                        <div class="pl-4 pt-3">
                            <h4>Recompensa en logros</h4>
                            <p class="m-0">Logros a largo plazo para manter la atención y motivación del usuario.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 pb-1">
                    <div class="text-container d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <div class="mb-3 me-3">
                            <img src="../../assets/document.png" alt="document">
                        </div>
                        <div class="pl-4 pt-3">
                            <h4>Seguimiento semanal</h4>
                            <p class="m-0">Test diarios para ver el progreso del aprendiz.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 pb-1">
                    <div class="text-container d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <div class="mb-3 me-3">
                            <img src="../../assets/tips.png" alt="tips">
                        </div>
                        <div class="pl-4 pt-3">
                            <h4>Consejos para la mejora</h4>
                            <p class="m-0">Tips para seguir aprendiendo y mejorando con nosotros.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 pb-1">
                    <div class="text-container d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <div class="mb-3 me-3">
                            <img src="../../assets/world-water-day.png" alt="world-water-day">
                        </div>
                        <div class="pl-4 pt-3">
                            <h4>Explicación de la emergencia para jovenes</h4>
                            <p class="m-0">Explicación simplificada de la situación climática para todos los públicos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="min-height: 1000px;">

    </div>

    <div class="px-5 container-fluid pt-5 mb-5">
        <div class="text-center mb-5"><h1 id="info" class="title">¿SABIAS QUÉ?</h1></div>
    </div>
</div>

