
<div class="form">
    <h1 class="text-center">LOGIN</h1>
    <form name="myForm" [formGroup]="signupFrom">
       <div class="login-container">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" name="name" formControlName="name" required class="form-control">
                <div *ngIf="signupFrom.controls.name.touched && signupFrom.controls.name.invalid">
                  <span *ngIf="signupFrom.controls.name.errors.required" class="error">Este campo es obligatorio</span>
                  <span *ngIf="signupFrom.controls.name.errors.pattern" class="error">Formato inválido</span>
                </div>
            </div>
          </div>
            <div class="col-md-12">
              <div class="form-group">
                  <label>Email</label>
                  <input type="email" name="email" formControlName="email" required class="form-control">
                  <div *ngIf="signupFrom.controls.email.touched && signupFrom.controls.email.invalid">
                    <span *ngIf="signupFrom.controls.email.errors.required" class="error">Este campo es obligatorio</span>
                    <span *ngIf="signupFrom.controls.email.errors.pattern" class="error">Formato de email inválido</span>
                  </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                  <label>Contraseña</label>
                  <input type="password" name="pass" formControlName="password" required class="form-control">
                  <div *ngIf="signupFrom.controls.password.touched && signupFrom.controls.password.invalid">
                    <span *ngIf="signupFrom.controls.password.errors.required" class="error">Este campo es obligatorio</span>
                    <span *ngIf="signupFrom.controls.password.errors.pattern" class="error">Formato inválido</span>
                  </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                  <label>Repetir Contraseña</label>
                  <input type="password" name="confPass" formControlName="confirmPassword" required class="form-control">
                  <div *ngIf="signupFrom.controls.confirmPassword.touched && signupFrom.controls.confirmPassword.invalid">
                    <span *ngIf="signupFrom.controls.confirmPassword.errors.required" class="error">Este campo es obligatorio</span>
                    <span *ngIf="signupFrom.controls.confirmPassword.errors.pattern" class="error">Formato inválido</span>
                  </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group buttons">
                  <button [disabled]="validateSubmit() || !(signupFrom.valid && signupFrom.dirty)" class="btn btn-primary  col-md-5">Login</button>
                  <button type="button" class="btn btn-danger col-md-5" (click)="returnLandigPage()">Cancel</button>
                  <div class="clearfix"></div>
              </div>
            </div>
        </div>
        <!-- (click)="authenticate()" -->
        </div>
    </form>
</div>
        