<div class="general-container">
    <div class="bar-logo">
        <img src="../../assets/h2o-heroes.png" alt="logo" style="max-height: 200px;">
    </div>
    <div class="px-5 container-fluid pt-5 mb-5">
        <div class="text-center mb-5"><h1 class="title">¡APRENDE CON NOSOTROS!</h1></div>
        <div class="container pb-3">
            <div class="row">
                <div class="col-lg-6 col-xxl-4 pb-1 ">
                    <div routerLink="/pato" class="text-container d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <div class="mb-3 me-3">
                            <img src="../../assets/rubber-duck.png" alt="duck">
                        </div>
                        <div class="pl-4 pt-4">
                            <h4>PATO</h4>
                            <p class="m-0">¡Cuida de tu Pato gracias a tus acciones como H20 Hero!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 pb-1">
                    <div routerLink="/medallas" class="text-container d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <div class="mb-3 me-3">
                            <img src="../../assets/badge.png" alt="badge">
                        </div>
                        <div class="pl-4 pt-4">
                            <h4>MEDALLAS</h4>
                            <p class="m-0">¡Colleción de tus medallas. Sigue mejorando!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 pb-1">
                    <div routerLink="/logros" class="text-container d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <div class="mb-3 me-3">
                            <img src="../../assets/success.png" alt="success">
                        </div>
                        <div class="pl-4 pt-4">
                            <h4>LOGROS</h4>
                            <p class="m-0">¡Mira tus mayores logros conseguidos hasta el momento!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 pb-1">
                    <div routerLink="/test" class="text-container d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <div class="mb-3 me-3">
                            <img src="../../assets/document.png" alt="document">
                        </div>
                        <div class="pl-4 pt-4">
                            <h4>TEST</h4>
                            <p class="m-0">Haz el test para ver como vas mejorando!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 pb-1">
                    <div routerLink="/tips" class="text-container d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <div class="mb-3 me-3">
                            <img src="../../assets/tips.png" alt="tips">
                        </div>
                        <div class="pl-4 pt-4">
                            <h4>TIPS</h4>
                            <p class="m-0">¡Consejos para seguir mejorando como H20 Hero!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 pb-1">
                    <div routerLink="/informacion" class="text-container d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                        <div class="mb-3 me-3">
                            <img src="../../assets/world-water-day.png" alt="world-water-day">
                        </div>
                        <div class="pl-4 pt-4">
                            <h4>INFORMACIÓN</h4>
                            <p class="m-0">¿Quieres seguir aprendiendo sobre la situación de nuestro planeta? Aprende 5 cosas nuevas!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mb-5">
        <button class="header-button2 btn mt-1 py-3 px-5" (click)="logout()"><h4 class="mb-0">Cerrar sesión</h4></button>
    </div>
</div>