:root {
    --white:        #f0fbff;
    --black:        #1a1919;

    --pink:         #F2A0C6;
    --turquoise:    #03A6A6;
    --blue:         #1768A0;
    --orange:       #D98E04;
    --red:          #D93E30;
    --yellow:       #F0C403;
    --green:        #4EAC4E;
}
